*{
	background-repeat:no-repeat;
}
header{
	top:0;
    align-items:center;
}
#logOutBtn{
    background-color:transparent;
    border:none;
    background-image:url(../assets/svg/logout.svg);
    background-size:contain;
	height:15px;
	width:15px;
}
.dashboard-item{
	background-position:10px center;
}
#export-chat{
	background-image:url(../assets/svg/export-chat.svg);
}
#overlay-modal-wrapper{
    top:0;
    left:0;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
#overlay{
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
}
#modal{
	max-width:300px;
	min-width:200px;
	max-height:300px;
	min-height:200px;
}
#modal-content{
    align-items:center;
}
@media screen and (max-width:480px){
	#dashboard-menu{
		flex-direction:column !important;
	}
	#dashboard-menu button{
		flex-grow:1 !important;
	}
}
